html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #0D0D0D;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    margin-top: 0;
    font-size: 3.5rem;
    text-align: center;
    padding: 0 1rem;
    border-bottom: 0.125rem solid #B91FDC;
    background: linear-gradient(90deg, #00DBDE, #FC00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container{
    width: 65%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.3rem solid #1A1A1A;
    border-radius: 3rem;
}

h2{
    margin-top: 2rem;
    font-size: 3.5rem;
    text-align: center;
    padding: 0 1rem;
    border-bottom: 0.125rem solid #00DBDE;
    background: linear-gradient(90deg, #00DBDE, #FC00FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.box{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    padding: 0.625rem 1.25rem;
    border: none;
    background: linear-gradient(90deg, #00DBDE, #FC00FF);
    border-radius: 1rem;
    color: #FFFFFF;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    margin-bottom: 1rem;
}

button:hover{
    background: linear-gradient(90deg, #FC00FF, #2370F5, #00DBDE);
    transform: scale(1.20);
}

button:active{
    transform: scale(0.95);
}


.clock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    width: 70%;
    height: 70%;
    color: #FFFFFF;
    background: #1A1A1A;
    position: relative;
    border-radius: 1rem;
    font-size: 4rem;
    overflow: hidden;
}

.clock p{
    margin-top: 2rem;
    font-size: 1rem;
}

.clock::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 90%;
    height: 8rem;
    background: linear-gradient(0deg, transparent, transparent, #2370F5, #2370F5, #2370F5);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 5s linear infinite;
}

.clock::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 90%;
    height: 8rem;
    background: linear-gradient(0deg, transparent, transparent, #B91FDC, #B91FDC, #B91FDC);
    z-index: 0;
    transform-origin: bottom right;
    animation: animate 5s linear infinite;
    animation-delay: -3s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.front-clock{
    text-align: center;
    padding-top: 0.6rem;
    background: #0D0D0D;
    width: 90%;
    height: 90%;
    border-radius: 1rem;
    z-index: 1;
}

@media (max-width: 890px){
    .container{
        width: 60%;
    }

    .clock{
        font-size: 3rem;
    }
}

@media (max-width: 590px){
    .container{
        grid-template-rows: 20% 80%; 
    }

    h1{
        margin-top: 0;
    }

    .box{
        display: grid;
        grid-template-rows: 33% 33% 33%;
    }

    .clock{
        width: 30vw;
        margin: 0;
        font-size: 4rem;
        margin-top: 0.8rem;
    }
}

.mr-modal-slide{
    display: none;
}

.mr-modal-slide.is-open{
    display: block;
}